* {
  color: grey;
}
#cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotipo {
  padding-left: 20px;
  color: grey;
}
.logotipo h4 {
  margin-top: -20px;
}
.menu {
  padding: 20px;
  background-color: crimson;
  width: 60%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}
.menu a {
  text-decoration: none;
  color: white;
}
hr {
  border: 1px solid rgba(202, 202, 202, 0.356);
  margin: 15px 0px 30px 0px;
}
#cita {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 100;
  padding-bottom: 50px;
}
#cita h2 {
  font-weight: 100;
  margin-bottom: 40px;
}

.destacados img {
  margin-left: 10px;
}
#destacados {
  display: flex;
  justify-content: space-between;
}
#columnas {
  display: flex;
  justify-content: space-evenly;
}
#noticia a {
  color: crimson;
}
#latest-work {
  display: flex;
  justify-content: space-around;
}
.our-service {
  display: flex;
  justify-content: center;
}
.our-service h3 {
  text-align: center;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
}
#services-container {
  display: flex;
  justify-content: space-between;
}

.service-title {
  display: flex;
  align-items: center;
}

.service-title h5 {
  margin-left: 10px;
}

#services-container a {
  text-decoration: none;
  color: crimson;
}
#columnas {
  display: flex;
}
#foto-columna {
  display: flex;
}
#players {
  justify-content: space-between;
}
.player a {
  color: crimson;
}
#footer {
  margin-top: 50px;
  padding-top: 20px;
  background-color: rgba(169, 169, 169, 0.466);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
 
}
#copy {
  display: flex;
  justify-content: space-between;
}
#hr {
  color: whitesmoke;
}
